# Managed by Ansible.
#
# /etc/modprobe.d/nut-usbhid.conf
# Network UPS Tools (NUT) usbhid kernel module configuration.

# Configure quirks for certain UPS USB interfaces, to allow them to work correctly.
options usbhid quirks={{ nut_ups_usbhid_quirks | join(",") }}
