# Managed by Ansible.
#
# /etc/nut/ups.conf
# Network UPS Tools (NUT) UPS configuration.

# Numer of attempts to start the driver before giving up.
# Set to 3 instead of the default 1 to mitigate race with slow devices.
maxretry = 3

# UPS driver configuration.
[{{ nut_ups_name }}]
# Description of the device for clients.
desc = {{ nut_ups_description }}
# Driver to use for communicating with the UPS.
driver = {{ nut_ups_driver }}
{% if nut_ups_serial is defined %}
# Serial number of the UPS device. Sometimes required for the usbhid-ups driver.
serial = {{ nut_ups_serial }}
{% endif %}
# Communication port of the UPS. Auto-detect is usually fine.
port = auto
# Polling interval for updating the UPS status, in seconds.
# Has to be at least as low as the client's poll interval for when on battery.
pollinterval = {{ nut_ups_battery_pollinterval }}
