# Managed by Ansible.
#
# /etc/nut/upsd.users
# Network UPS Tools (NUT) server user configuration.

# Client user with read-only access to the UPS statistics.
[{{ nut_client_username }}]
password = {{ nut_client_password }}
upsmon master

# Administrator user for changing UPS settings.
[{{ nut_admin_username }}]
password = {{ nut_admin_password }}
actions = SET
instcmds = ALL
