# Managed by Ansible.
#
# /etc/ups/upsd.conf
# Network UPS Tools (NUT) server configuration.

# Addresses to bind to for access by clients.
{% for listen in nut_server_listen %}
LISTEN {{ listen.address }} {{ listen.port }}
{% endfor %}

# Bind to the NUT Docker network to give access to related services.
LISTEN {{ docker_network.network.IPAM.Config[0].Gateway }} 3493
