# Managed by Ansible.
#
# /etc/nut/upsmon.conf
# Network UPS Tools (NUT) client configuration.

# Minimum debug logging level for the upsmon daemon.
# DEBUG_MIN 6

# UPS monitor configuration.
# The UPS is directly attached to the system via USB.
MONITOR {{ nut_ups_name }}@localhost 1 {{ nut_client_username }} {{ nut_client_password }} master

# Minimum number of power supplies active to keep the system running with.
# This system has 1 power supply only.
MINSUPPLIES 1

# Command to run to shutdown the syustem.
SHUTDOWNCMD "/sbin/shutdown -h +0"

# Polling frequency for normal activities, measured in seconds.
# Use the default of 5 seconds while on mains power.
POLLFREQ {{ nut_ups_mains_pollinterval }}

# Polling frequency in seconds while UPS is on battery.
# Set to more accurately track UPS state.
POLLFREQALERT {{ nut_ups_battery_pollinterval }}

# The time to wait before declaring a stale UPS "dead".
# A UPS becomes stale after a failed status fetch.
# Generally set using this formula: max(POLLFREQ, POLLFREQALERT) * 3
DEADTIME {{ ([nut_ups_mains_pollinterval, nut_ups_battery_pollinterval] | max) * 3 }}

# Messages sent by upsmon when certain events occur.
NOTIFYMSG ONLINE	"UPS %s on line power"
NOTIFYMSG ONBATT	"UPS %s on battery"
NOTIFYMSG LOWBATT	"UPS %s battery is low"
NOTIFYMSG FSD		"UPS %s: forced shutdown in progress"
NOTIFYMSG COMMOK	"Communications with UPS %s established"
NOTIFYMSG COMMBAD	"Communications with UPS %s lost"
NOTIFYMSG SHUTDOWN	"Auto logout and shutdown proceeding"
NOTIFYMSG REPLBATT	"UPS %s battery needs to be replaced"
NOTIFYMSG NOCOMM	"UPS %s is unavailable"
NOTIFYMSG NOPARENT	"upsmon parent process died - shutdown impossible"

# --------------------------------------------------------------------------
# NOTIFYFLAG - change behavior of upsmon when NOTIFY events occur
#
# By default, upsmon sends walls (global messages to all logged in users)
# and writes to the syslog when things happen.
# Except for Windows where upsmon only writes to the syslog by default.
# You can change this.
#
# NOTIFYFLAG <notify type> <flag>[+<flag>][+<flag>] ...
#
# NOTIFYFLAG ONLINE	SYSLOG+WALL
# NOTIFYFLAG ONBATT	SYSLOG+WALL
# NOTIFYFLAG LOWBATT	SYSLOG+WALL
# NOTIFYFLAG FSD	SYSLOG+WALL
# NOTIFYFLAG COMMOK	SYSLOG+WALL
# NOTIFYFLAG COMMBAD	SYSLOG+WALL
# NOTIFYFLAG SHUTDOWN	SYSLOG+WALL
# NOTIFYFLAG REPLBATT	SYSLOG+WALL
# NOTIFYFLAG NOCOMM	SYSLOG+WALL
# NOTIFYFLAG NOPARENT	SYSLOG+WALL
#
# Possible values for the flags:
#
# SYSLOG - Write the message in the syslog
# WALL   - Write the message to all users on the system
# EXEC   - Execute NOTIFYCMD (see above) with the message
# IGNORE - Don't do anything
#
# If you use IGNORE, don't use any other flags on the same line.

# --------------------------------------------------------------------------
# NOTIFYCMD <command>
#
# upsmon calls this to send messages when things happen
#
# This command is called with the full text of the message (from NOTIFYMSG)
# as one argument.
#
# The environment string NOTIFYTYPE will contain the type string of
# whatever caused this event to happen.
#
# The environment string UPSNAME will contain the name of the system/device
# that generated the change.
#
# Note that this is only called for NOTIFY events that have EXEC set with
# NOTIFYFLAG.  See NOTIFYFLAG below for more details.
#
# Making this some sort of shell script might not be a bad idea.
# Alternately you can use the upssched program as your NOTIFYCMD for some
# more complex setups (e.g. to ease handling of notification storms).
# For more information and ideas, see docs/scheduling.txt
#
# Example:
# NOTIFYCMD @BINDIR@/notifyme

# Warn interval for replacing the UPS battery, in seconds.
RBWARNTIME 86400

# Warning interval for communication failures with the nut server, in seconds.
NOCOMMWARNTIME 3600

# Final sleep interval before shutting down the system after being notified
# the UPS is almost depleted, in seconds.
FINALDELAY 5
