# Managed by Ansible.
#
# prometheus.yml
# Prometheus configuration.

# Jobs for Prometheus to pull metrics.
scrape_configs:

  # DRuggeri NUT exporter for collecting UPS statistics.
  - job_name: nut-druggeri
    metrics_path: /ups_metrics
    static_configs:
      - targets:
{% for target in groups["example_server"] %}
          - {{ target }}:9199
{% endfor %}
        labels:
          ups: "{{ nut_ups_name }}"
    params:
      ups: ["{{ nut_ups_name }}"]
    # Relabel the instance names so that the target port is not shown.
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: '([^:]+)(:[0-9]+)?'
        replacement: '${1}'

{% for target in groups["example_server"] %}
  # HON95 NUT exporter for collecting UPS statistics from {{ target }}.
  - job_name: nut-hon95-{{ target }}
    static_configs:
      # Insert NUT server address here
      - targets: ["nut-server:3493"]
    metrics_path: /metrics
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - target_label: instance
        # Insert desired instance name here
        replacement: {{ target }}
      - target_label: __address__
        # Insert NUT exporter address here
        replacement: {{ target }}:9995

{% endfor %}
